<!doctype html>
<html lang="en">
<head>
    <title>Bar Praia</title>
    <link rel='stylesheet' href='/style.css' />
 </head>
	<body>
		
		<h1>Bar Praia</h1>
		<h2>Algou deu ERRADO</h2>

		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>


	</body>
</html>