<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa">
  <link type="text/css" rel="stylesheet" href="style.css">
  <title>BarPraia - Garcon</title>
</head>

<body>


  <section id="chatroom">
    <section id="feedback"></section>
  </section>

  <section id="input_zone">
    <input id="message" class="vertical-align" type="text" />
    <button id="send_message" class="vertical-align" type="button">Send</button>
  </section>

  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="chat.js"></script>

</body>

</html>
